body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
html {
  height: 100%;
  box-sizing: border-box;
}
footer {
  background-color: #bfbfbf;
  padding: 15px;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
table, th{
  border-collapse: collapse;
}
*{
  margin: 0px;
  padding: 0;
}
.column {
	float: left;
	width: 33.33%;
	padding: 30px;
}
#container{
    min-height: 100%;
    margin: 10px 10px; /* Center the DIV horizontally */
}
#main{
  overflow: auto;
  padding-bottom: 50px;
}
/*For use with text inside footer*/
#footer{
  color: #5e5e5e;
}