/*recip-EZ stylesheet*/
body {
  position: relative;
  min-height: 100%;
  font-family: "Arial Black", Gadget, sans-serif;/* default font*/
  /* gradient background */
  background: rgb(147,95,182);
  background: linear-gradient(90deg, rgba(147,95,182,1) 0%, rgba(255,144,144,1) 58%, rgba(255,188,93,1) 100%); 
  /* gradient background */
}
/* footer settings */
footer {
  background-color: #8b8b8b;
  padding: 8px;
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
}
h2{
  text-align: center;
}
/*Individual items of the navbar*/
.nav-item
{
  font-size: 20;
  padding: 0px 15px;
}

/*Changes background color of navbar elements*/
.nav .open > a:hover{
  background-color:#fff; 
}
/*Changes color of navbar text*/
.navbar .navbar-nav> li > a:hover{
  background-color:#5c697d;
}
/* Font size for Brand Logo */
.navbar-brand
{
  font-size: 20px;
}
/*For use with text inside footer*/
#footer{
  color: #d0d0d0;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*box around login form*/
.login-form{
    margin: 0 auto;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: rgb(158,197,207);
    background: linear-gradient(0deg, rgba(158,197,207,1) 0%, rgba(182,149,198,1) 100%); 
}
.login-form h3{
    text-align: center;
    color: #ffffff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
/* FILTER FORM CSS */
.filter-form h3{
    text-align: center;
    color: #333;
    padding: 10px;
}
.filter-form h4{
    text-align: center;
    color: #333;
}
.filter-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.filter-form-box {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: rgb(158,197,207);
    background: linear-gradient(0deg, rgba(158,197,207,1) 0%, rgba(182,149,198,1) 100%); 
}
.exclusion-checklist{
    display:inline-block;
}