/*recip-EZ stylesheet*/
body {
  position: relative;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: rgb(22,41,52);
  background: linear-gradient(0deg, rgba(22,41,52,1) 0%, rgba(71,160,167,1) 52%, rgba(42,206,219,1) 100%); 
}
html {
  height: 100%;
  box-sizing: border-box;
}
footer {
  background-color: #8b8b8b;
  padding: 8px;
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
}
table, th{
  border-collapse: collapse;
}
*{
  margin: 0px;
  padding: 0;
}
#container{
    min-height: 100%;
}
#main{
  overflow: auto;
  padding-bottom: 50px;
}
/*For use with text inside footer*/
#footer{
  color: #d0d0d0;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*box around login form*/
.login-form-1{
    margin: 0 auto;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: rgb(158,197,207);
    background: linear-gradient(0deg, rgba(158,197,207,1) 0%, rgba(182,149,198,1) 100%); 
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
